{
	email {$ACME_EMAIL:hostmaster@example.com}
}

{$SITE_ADDRESS} {
	encode zstd gzip

	request_body {
		max_size 2MB
	}

	reverse_proxy backend:8000

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		-Server
	}

	log {
		output stdout
		format json
	}
}
